.headerOnTop {
  background: white;
  box-shadow: 0px 7px 15px -1px rgba(87, 87, 87, 0.11);
}

.headerOnScroll {
  background: rgba(255, 255, 255, 0.85);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(19.5px);
  -webkit-backdrop-filter: blur(19.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0px 7px 15px -1px rgba(87, 87, 87, 0.11);
}
