@import "./header.css";
@import "./fonts.css";
@import "./navBar.css";
@import "./home.css";
@import "./review.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar for WebKit browsers (Chrome, Safari) */
.element::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
.element {
  scrollbar-width: none; /* Firefox */
}

/* Ensure scrolling is still possible */
.element {
  overflow: scroll;
}
